body {
    background-color: rgb(194, 117, 117);
}

h1, h2, p {
    text-align: center;
    font-family: Merienda, serif;
}

p {
    width: 75%;
    margin: auto;
    padding-bottom: 25px;
    font-size: 20px;
}

#message {
    display: flex;
    align-content: center;
}

.hello {
    opacity: 1 !important;
}

.full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.full .content {
    background-color: rgba(0, 0, 0, 0.75) !important;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
}

.full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 95%;
    max-height: 75%;
    margin: auto;
}

.minimize {
    opacity: 0;
}

.minimize:hover {
    transform: scale(0.2) !important;
}

.gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
}

.gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
}

.gallery img:hover {
    box-shadow: 0 0 32px #333;
}

.gallery .gallery-item {
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery .gallery-item:hover {
    transform: scale(1.025);
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@-moz-keyframes zoomin {
    0% {
        max-width: 10%;
        filter: blur(4px);
    }
    100% {
        max-width: 95%;
    }
}

@-webkit-keyframes zoomin {
    0% {
        max-width: 10%;
        filter: blur(4px);
    }
    100% {
        max-width: 95%;
    }
}

@-o-keyframes zoomin {
    0% {
        max-width: 10%;
        filter: blur(4px);
    }
    100% {
        max-width: 95%;
    }
}

@keyframes zoomin {
    0% {
        max-width: 10%;
        filter: blur(4px);
    }
    100% {
        max-width: 95%;
    }
}